.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  position: relative;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.birthdayDateContainer {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.comboBoxesContainer {
  width: 60%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}