/* .formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.fieldContainer {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
} */

/* .buttonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
} */