.subtitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.subTitle {
  margin-bottom: 3rem;
}

.labelTitle {
  font-size: 1.4rem;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  position: relative;
  margin: 2rem 0;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}