.fieldContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.messageError {
  color: red;
  position: absolute;
  width: 60%;
  margin-top: 100px;
  left: 41%;
}